body {
    margin: 50px;
    background-color: #000000;
}

p {
    color: rgb(255, 255, 126);
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    text-align: center;
    color: #ffffff;
}

.box {
    display: block;
    margin: auto;
    padding: 25px;
    height: 300px;
    width: 600px;
    border: solid;
    border-color: #ffffff;
    border-style: dashed;
}

.art_three p {
    text-align: center;
}

#end {
    text-align: center;
}

.social_list {
    text-align: center;
}

.social_list li {
    display: inline;
    list-style-type: none;
}

.social_list a {
    padding-right: 30px;
}

.social_list a:hover {
    color: #ffffff;
}